{% extends "asknowdemo.html" %}

{% block answer %}
	{% for answers in answerslist %}
		<p class="answers">
		{% if answers['answered'] %}
			{% if answers['count'] == 1 %}
				The answer to your question "{{answers.question}}" is:
			{% else %}
				The answers to your question "{{answers.question}}" are:
				{% endif %}
			{{answers.titles|joinfunc('<b>%s</b>')|safe}}
		{% else %}
			AskNow does not know to answer your question "{{answers.question}}". Here is some information related to the entities of your question.
		{% endif %}
		</p>
		<br>
		{% for answer in answers.information %}
			<div class="information">
			<div class="abstract">Information on <i>{{answer.title}}</i> from Wikipedia:<br>
			{{answer.abstract | safe}}
			<span class="wplink">Read further information at <a href="{{answer.wplink}}">Wikipedia</a>.</span>
			</div>
			<div class="image">
			An image of {{answer.title}}:<br>
			<img src="{{answer.imgsrc}}" alt="An image of {{answer.title}}">
			</div>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}