{% extends "demo.html" %}

{% block answer %}
	{% for answers in answerslist %}
		<p class="answers">
		{% if answers['answered'] %}
			{% if answers['lentitles'] == 1 %}
				The answer to your question "{{answers.question}}" is:
			{% else %}
				The answers to your question "{{answers.question}}" are:
			{% endif %}
			{{answers.titles|joinfunc('<b>%s</b>')|safe}}.
		{% else %}
			AskNow does not know to answer your question "{{answers.question}}".
		{% endif %}
		{% if answers['leninfo'] > 0 %}
			<br />Here is some information related to the entities of your question.
		{% endif %}
		</p>
		{% if answers.leninfo > 0 %}
			<br />
			{% for answer in answers.information %}
				<div class="information">
					<div class="abstract"><h2>Information on <i>{{answer.title}}</i> from Wikipedia:</h2>
						{{answer.abstract | safe}}
						<hr />
						<span class="furtherinformation">
							<span class="wplink">Read the article on <a href="{{answer.wplink}}">Wikipedia</a>.</span>
							{% if answer['lenrelent'] > 0 %}
								<br />
								<span class="relatedentities">Related entities from DBPedia: 
								<ul>
								{% for relent in answer.relents %}
									<li><a href="{{relent.url}}">{{relent.title}}</a></li>
									{% endfor %}
								</ul>
								</span>
							{% endif %}	
						</span>
					</div>
					<div class="imagebox">
						{% if answer.imgsrc %}
							<h2>An image related to <i>{{answer.title}}</i>:</h2>
							<img class="image" src="{{answer.imgsrc}}" alt="An image of {{answer.title}}">
						{% else %}
							<img class="placeholder" src="/images/placeholder.png" alt="No image for {{answer.title}} available">
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endblock %}