<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.example.appengine.helloworld.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>rot13</servlet-name>
  	<servlet-class>com.example.appengine.helloworld.Rot13Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>rot13</servlet-name>
  	<url-pattern>/rot13</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>signup</servlet-name>
  	<servlet-class>com.example.appengine.helloworld.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>welcome</servlet-name>
  	<servlet-class>com.example.appengine.helloworld.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>welcome</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
</web-app>
